@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-width: 370px !important;
  height: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.input-valid {
  outline: 2px solid green;
  border-radius: 1rem;
}

.meta-border {
  border: "1px solid white";
}

.select:focus {
  outline: none;
}

.overflow-dots {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.bookings-container {
  padding-top: 1rem;
}

.settings-container {
  padding-top: 1.5rem;
}

.bg-min-height {
  min-height: calc(100vh - 90px);
}

.bg-min-height-no-submenu {
  min-height: calc(100vh - 64px);
}

.sub-header {
  margin-bottom: -10px;
}

.smooth-render-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 200ms;
}

.smooth-render-in-slower {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

.smooth-render-out {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 200ms;
}

#test {
  width: 100vh;
  padding: 2em 0;
  background: #c14545;
  visibility: hidden;
}

.label-info-text {
  width: fill-available;
}

.full-width {
  width: 250px;
  max-width: 300px;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#booking-date-picker {
  border-radius: 0.5rem;
}

.react-datepicker-popper {
  position: relative !important;
  transform: none !important;
}

.react-datepicker {
  display: flex !important;
}

.react-datepicker__month-container {
  width: 100% !important;
}

.react-datepicker__time-container {
  width: 25%;
}

.custom-datepicker-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.react-datepicker-popper[data-placement="bottom"] {
  color: red !important;
}

.react-datepicker-popper[data-placement="top"] {
  color: red !important;
}

@media (max-width: 360px) {
  .react-datepicker {
    flex-direction: column;
  }
  .react-datepicker__time-container {
    width: 100% !important;
  }
  .react-datepicker__month-container {
    width: 100% !important;
  }

  .react-datepicker__time  {
    height: "100px" !important;
    overflow: hidden;
  }

  .react-datepicker__time-box  {
    height: "100px" !important;
    width: 100% !important;
  }

  .react-datepicker__navigation--next--with-time:not(
      .react-datepicker__navigation--next--with-today-button
    ) {
    right: 5px !important;
  }

  .react-datepicker__time-list {
    height: "40px" !important;
  }
}

@media (min-width: 805px) {
  main {
    box-shadow: 0px 2px 10px 1px rgb(0, 0, 0, 0.7);
  }
}
